<ion-header>
  <ion-navbar>
    <ion-title>
      할 일 목록
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddTodoModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item (click)="openNewTodo(todo.id)">
        <h2>{{todo.title}}</h2>
        <p>{{todo.description}}</p>
        <div item-end *ngIf="todo.complete">
          <ion-icon name="checkbox-outline"></ion-icon>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button color="danger" (click)="deleteTodo(todo.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>